<div class="container mt-5">
    <div class="row text-center">
        <div class="col-3">
            <div class="icon fade-in-down">
                <img class="img-fluid" loading="lazy" src="assets/images/geo-alt-fill.png" alt="Location">
            </div>
            <div class="mt-3">CONCOR Bhawan, C-3, Mathura Road<br>Opposite Apollo Hospital<br>New Delhi- 110076</div>
        </div>
        
        <div class="col-3">
            <div class="icon fade-in-down">
                <img class="img-fluid" loading="lazy" src="assets/images/telephone.png" alt="Phone">
            </div>
            <div class="mt-3">91-11-41673093/94/95/96 <br> 91-11-41763112</div>
        </div>
        <div class="col-3">
            <div class="icon fade-in-down">
                <img class="img-fluid" loading="lazy" src="assets/images/envelope.png" alt="Email">
            </div>
            <div class="mt-3">cd.pro&#64;concorindia.com</div>
        </div>
        <div class="col-3">
            <div class="icon fade-in-down">
                <img class="img-fluid" loading="lazy" src="assets/images/globe-americas.png" alt="Website">
            </div>
            <div class="mt-3">www.concorindia.com</div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4 fade-in-left">
                <h3 class="text-center mb-4">Contact Us</h3>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-50 text-center">Send Message</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow fade-in-right">
                <img class="img-fluid rounded" loading="lazy" src="assets/images/concor.png" alt="About">
            </div>
        </div>
    </div>
</div>