<div class="row">
    <div class="col-sm-12">
              <h3 class="mt-5 text-center">My Profile</h3>
        <hr />
        
        <div class="row" style="background-color:#f5f5f5">
          <div class="col-md-6">
            <img class="img-fluid rounded" loading="lazy" src="assets/images/profile.png" alt="About" style="height: 75%;margin-left: 25%;">
          </div>
          
          <div class="col-md-6 mx-auto text-center">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mt-5">My Details</h5>
                    <hr />
                    <form action="javascript:">
                        <div class="form-group row d-flex justify-content-center">
                            <label for="staticEmail" class="col-sm-3 col-form-label text-right">Customer Name</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-center" id="staticEmail" value="email@example.com" />
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="staticEmail" class="col-sm-3 col-form-label text-right">Customer Code</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-center" id="staticEmail" value="email@example.com" />
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="staticEmail" class="col-sm-3 col-form-label text-right">Terminal</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-center" id="staticEmail" value="email@example.com" />
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="staticEmail" class="col-sm-3 col-form-label text-right">Mobile no.</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-center" id="staticEmail" value="email@example.com" />
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="staticEmail" class="col-sm-3 col-form-label text-right">Email</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-center" id="staticEmail" value="email@example.com" />
                            </div>
                        </div>
                        <br><br>

                        <div class="form-group row d-flex justify-content-center">
                            <div class="row">
                            <div class="col-md-6 mx-auto text-center">
                                <button class="btn btn-primary" type="submit">Edit Profile</button>
                                </div>
                            <div class="col-md-6 mx-auto text-center">
                                <a routerLink="changepswd"  class="btn btn-primary" >Change Password</a>
                                </div>
                        </div>
                                
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        </div>

  </div>

  </div>
  