<div class="failed-overlay">
  <div class="failed-popup">
    <div class="failed-icon-wrapper">
          <div class="error-icon-circle">
      <i class="fa fa-times fa-2x text-white"></i>
    </div>

    </div>
    <h2 class="failed-title">Submission Failed</h2>
    <p class="failed-subtitle">Something went wrong. Please try again.</p>

    <p class="failed-label">Error Code</p>
    <h5 class="failed-id">{{ errorCode }}</h5>

    <p class="failed-label">Error Message</p>
    <h5 class="failed-id">{{ errorMessage }}</h5>

    <button class="failed-btn" (click)="tryAgain()">
      <i data-feather="rotate-ccw" class="feather-icon me-1"></i> Try Again
    </button>

    <div class="sparkle sparkle-1"></div>
    <div class="sparkle sparkle-2"></div>
    <div class="sparkle sparkle-3"></div>
  </div>
</div>
